* {
    margin: 0px;
    padding: 0px;
 }

body {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(255,196,208,1) 100%);
    font-family: Arial, Arial, Helvetica, sans-serif;
}

#nav {
    background-color: white;
    border-collapse: collapse;
    height: 80px;
}  

#nav a {
    text-decoration: none;
    color: black;
}

#nav a:hover {
    color: rgb(190, 193, 194);
}

#nav ul {
    list-style-type: none;
    line-height: 80px;
    margin-left: 250px;
}

#nome {
    margin-right: 700px;
}

#nav li {
    float: left;
    margin-left: 40px;
}

#nav .selected {
    color: rgb(190, 193, 194);
}

#conteudo {
    background-color: white;
    margin-top: 130px;
    margin-bottom: 130px;
    width: 900px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    padding: 100px;
    border-radius: 8px;
    
}

#colunas {
    margin-left: auto;
    margin-right: auto;
    clear: both;
    width: 800px;
}

#icones {
    width: 200px;
    margin-top: 10px;
    float: left;
    height: 250px;
}

#icones img {
    width: 130px;
    border-radius: 50%;
}

#sobre {
    width: 600px;
    float: right;
    
}

#sobre h1 {
    font-size: 35px;
}

#sobre p {
    font-size: 22px;
    margin-top: 25px;
}

#sobre ul {
    list-style-type: none;
    margin-top: 15px;
}

#sobre li {
    margin-top: 5px;
    float: left;
    margin-right: 20px;
}

#sobre a {
    text-decoration: none;
    color: #3f5efb;
}

#footer {
    background-color: #161616;
    color: white;
    padding: 30px;
    padding-left: 70px;
}